body {
  font-family: sans-serif
}

.feed-items {
  padding-inline-start: 0;
}

.feed-items__item:hover {
  background-color: #ddd;
}

.feed-items__item {
  padding: 0.2em;
  display: grid;
  grid-template-columns: 2fr 2fr 10fr;
}

.feed-items__item-link {
}

.feed-items__item-date, .feed-items__item-domain {
  color: #333;
}

.feed-items__item-date {
}

